@charset "UTF-8";

.chartHolder{
	width:326px;
	height:200px;
	position:absolute;
	transition:0.1s;
}
#chartHolder10{
	left:200px;
	top:5px;
	width:1480px;
	height:390px;
}
#chartHolder11{
	left:10px;
	top:407px;
}
#chartHolder12{
	left:346px;
	top:407px;
}
#chartHolder13{
	left:682px;
	top:407px;
}
#chartHolder14{
	left:1018px;
	top:407px;
}
#chartHolder15{
	left:1354px;
	top:407px;
}
#chartHolder16{
	left:10px;
	top:617px;
}
#chartHolder17{
	left:346px;
	top:617px;
}
#chartHolder18{
	left:682px;
	top:617px;
}
#chartHolder19{
	left:1018px;
	top:617px;
}
#chartHolder20{
	left:1354px;
	top:617px;
}
.cover{
	position: relative;
	background: rgba(255,0,0,0);
	width:326px;
	height:200px;
	float:left;
	z-index:3000;
}