@charset "utf-8";
*{
	box-sizing: border-box;
}
html{
	height: auto;
    min-height: 100%;
    display: block;
}

body{
	height: auto;
    min-height: 100%;
    background: url(../img/boxed-bg.jpg) repeat fixed;
}

html, body{
	margin:0;
	padding:0;
	
}
.wrapper{
	overflow: hidden;
    height: auto;
    min-height: 100%;
    width: 1250px;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    position: relative;
    display: block;
    background-color: #222d32;
}
.header{
	position:relative;
	height:100px;
	background-color: #3c8dbc;
	z-index: 815;
		
}
.sidebar{
	position: absolute;
    top: 0;
    left: 0;
    padding-top: 100px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    background-color: #222d32;
	
}
.contents{
	margin-left: 230px;
	background-color: #ecf0f5;
    z-index: 800;
    min-height: 824px;
}
.footer{
	margin-left: 230px;
	z-index: 800;
	background-color: white;
	height:50px;
}
.menuBtn{
	width:210px;
	margin:10px 10px;
	height:50px;
	display:block;
	background-color:#343f47;
}
.menuBtn:hover{
	width:230px;
	height:80px;
	margin:0px;
	transition: 0.3s;
}
.case{
	z-index: 820;
	width:230px;
	height:100px;
	background-color: #367fa9;
}
.logo{
	width:230px;
	height:100px;
	background-color: transparent !important;
}
.rMateH5__Root{
	width:0px !important;
}
.rMateH5__rMateChart{
	margin-left:-300px;
	margin-right:-300px;
}
.rMateH5__ContentPane{
	
}
.rMateH5__Main{
	
}
.rMateH5__VCylinderGauge{
	
}