@charset "utf-8";

html {
	margin:0 !important;
	padding:0 !important;
	height: 100% !important;
}

body {
	margin:0 !important;
	padding:0 !important;
	height: 100% !important;
}

.div1 {
	padding-top: 30px;
	width: 20%;
	height: 100%;
	background: white;
	text-align: center;
	border-right: 1px solid #444;
	border-left: 1px solid #444;
	float:left;
}

.div2 {
	width:80%px;
	height:100%;
	margin-right: 0px;
	border-right: 1px solid #444;
	float:right;
}

.menuBtn {
	color: #444;
	background-color: transparent !important;
	height: 30px;
	margin: 10px;
	border: 1px solid #444;
	border-radius: 7px;
	width: 130px;
	font-size: 1rem;
	align: center;
}

.menuBtn:hover {
	color: #000;
	background-color: #999;
	width: 140px;
	transition: 0.2s;
}

.clickedBtn {
	color: #000;
	background-color: #999;
	height: 30px;
	margin: 10px;
	border: 1px solid #444;
	border-radius: 7px;
	width: 130px;
	font-size: 1rem;
	align: center;
}

.mainImg {
	width: 100px;
	height: 100px;
	margin: 10px;
}

#btn6 {
	width: 130px;
	height: 130px;
	margin: 10px;
	border: 1px solid #444;
	border-radius: 7px;
}

#btn6:hover {
	width: 140px;
	height: 140px;
	transition: 0.2s;
}

.div21 {
	height: 150px;
}

.div22 {
	border-top: 1px solid #444;
	height: 749px;
}
#chartHolder{
	width:400px !important;
}
#content{
	width:400px !important;
}
.rMateH5__CircularGauge{
	margin:0 auto !important;
	height:282px !important;
}
#chart1{
	margin:0 auto !important;
}