<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="org.Isaveu.mapper.ActionMapper">
 
    <insert id="insertAction" parameterType="org.Isaveu.domain.TbActionVO">
        INSERT INTO
			tb_action
		VALUES
			(null, #{module_id}, #{url}, now());
    </insert>
    <select id="selectAllList" resultType="org.Isaveu.domain.ActionBoardVO">
    	SELECT
 			action_id, action.module_id, action.time, replace(action.url,'C:\\Users\\user\\Documents\\ISAVEU\\spring\\ISaveU\\src\\main\\resources\\static\\eventImage\\',
    'http://192.168.0.35:99/eventImage/'),
    		 event.issue, location.dept_name
		FROM tb_action action
			inner join tb_event event on action.time = event.time
			inner join tb_module module on event.module_id = module.module_id
			inner join tb_location location on module.location_id = location.location_id
		WHERE issue >= "1"
			order by event.time DESC;
    </select>
</mapper>


