<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="org.Isaveu.mapper.ActionMapper">
 
    <insert id="insertAction" parameterType="org.Isaveu.domain.TbActionVO">
        INSERT INTO
			tb_action
		VALUES
			(null, #{module_id}, #{url}, now());
    </insert>
    <select id="selectAllList" resultType="org.Isaveu.domain.TbActionVO">
    	SELECT
    		*
    	FROM
    	 tb_action
    	order by action_id DESC;
    
    </select>
</mapper>


