<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="org.Isaveu.mapper.HrMapper">
 	<!--   Test
    <select id="hrCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
        	tb_hr
    </select>
    -->
    
    <select id="getHrAllList" parameterType="org.Isaveu.domain.TbHrVO" resultType="org.Isaveu.domain.TbHrVO"  >
    	SELECT
    		*
    	FROM
    		tb_hr
    </select>
    
    <select id="getHrListId" resultType="org.Isaveu.domain.TbHrVO" parameterType="String" >
    	SELECT
    		*
    	FROM
    		tb_hr
    	WHERE
    		id = #{id}
    </select>
    
     <select id="getHrListLevel" resultType="org.Isaveu.domain.TbHrVO" parameterType="String"  >
    	SELECT
    		*
    	FROM
    		tb_hr
    	WHERE
    		level = #{level}
    </select>
    
    <select id="login" resultType="org.Isaveu.domain.TbHrVO">
   		SELECT
   			id, pw, name
   		FRO
   			tb_hr
   		WHERE
   			id = #{id} and pw = #{pw}
    </select>
    
    
    <insert id="hrInsert" parameterType="org.Isaveu.domain.TbHrVO" >
    	INSERT INTO
    	VALUES
    	 ((SELECT MAX( #{hr_id}+1 FROM tb_hr as e), #{id}, #{pw}, #{name}, #{location_id}, #{tel}, #{email}, #{sex}, #{birthday}, #{level}, null, null)
    	 
    </insert>
    
    <update id="fcmUpdate" parameterType="String">
    	UPDATE tb_hr
    		SET
    	FCM = #{fcm}
    	WHERE
    	id = #{id}
    </update>
    
</mapper>


