@charset "utf-8";
*{
	box-sizing: border-box;
}
html{
	height: auto;
    min-height: 100%;
    display: block;
}

body{
	height: auto;
    min-height: 100%;
    background: url(../img/boxed-bg.jpg) repeat fixed;
}

html, body{
	margin:0;
	padding:0;
	
}
.wrapper{
	overflow: hidden;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    position: relative;
    display: block;
    background-color: #eeeeee;
    
}
#art{
	min-width: 100%;
    margin: 0 auto;
	display:none;
	height:100px;
	background:rgba(255,0,0,0.8);
	position:fixed;
	z-index:1200;
	transition:0.5s;
	text-align:center;
	font-size:40px;
}
#lct{
	display:none;
	width:555px;
	height:987px;
	position:fixed;
	left:650px;
	z-index:1201;
	transition:0.5s;
	background: url(../img/map.png);
	background-size: 555px 987px;	
}
.closeBtn{
	display:none;
	font-size:20px;
	width:100px;
	height:30px;
}
#fireBtn{
	display:none;
	font-size:20px;
	width:100px;
	height:30px;
	margin: 0 auto;
}
.header{
	position:relative;
	height:100px;
	z-index: 815;
	background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
		
}
.sidebar{
	position: absolute;
    top: 0;
    left: 0;
    padding-top: 100px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    background:#cccccc;
    
}
.contents{
	position:relative;
	width:1690px;
	height:824px;
	margin-left: 230px;
    z-index: 800;
    min-height: 824px;
}
.footer{
	margin-left: 230px;
	z-index: 800;
	background-color: #dddddd;
	height:50px;
}
.menuBtn{
	z-index:815;
	width:210px;
	height:80px;
	margin:0px;
	padding-top:30px;
	display:block;
	vertical-align:middle;
	transition:0.3s;
	background:#cccccc;
}
.case{
	z-index: 820;
	width:230px;
	height:100px;
	background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}
.logo{
	margin:5px 55px;
	width:120px;
	height:90px;
	background-color: transparent !important;
}
.rMateH5__Root{
	width:0px !important;
}
#a1{
	position:relative;
	left:30px;
	top:30px;
}
#a2{
	position:relative;
	left:650px;
	bottom:370px;
}
#a3{
	position:relative;
	left:30px;
	bottom:350px;
	
}
#content1 .rMateH5__rMateChart{
	margin-top:0px !important;
}
#content2 .rMateH5__rMateChart{
	
}
.rMateH5__ContentPane{

}
.rMateH5__Main{

}
.rMateH5__VCylinderGauge{

}
.map{
	height: 824px;
	width:456px;
    background: url(../img/map.png);
    z-index:1000;
    background-size:contain;
    position:absolute;
}
.imgEtg{
	position:relative;
	width:25px;
	height:25px;
 	animation: hideAndShow 0.5s infinite linear;
}
#ex0{
	position:absolute;
	z-index:1005;
	left:243px;
	top:265px;
	z-index:1500;
}
#ex1{
	position:absolute;
	z-index:1005;
	left:150px;
	top:132px;
	z-index:1500;
}
#ex2{
	position:absolute;
	z-index:1005;
	left:150px;
	top:235px;
	z-index:1500;
}
#ex3{
	position:absolute;
	z-index:1005;
	left:150px;
	top:400px;
	z-index:1500;
}
#ex4{
	position:absolute;
	z-index:1005;
	left:150px;
	top:570px;
	z-index:1500;
}
#ex5{
	position:absolute;
	z-index:1005;
	left:205px;
	top:780px;
	z-index:1500;
}
#ex6{
	position:absolute;
	z-index:1005;
	left:350px;
	top:75px;
	z-index:1500;
}
#ex7{
	position:absolute;
	z-index:1005;
	left:350px;
	top:280px;
	z-index:1500;
}
#ex8{
	position:absolute;
	z-index:1005;
	left:390px;
	top:460px;
	z-index:1500;
}
#ex9{
	position:absolute;
	z-index:1005;
	left:490px;
	top:690px;
	z-index:1500;
}
#ex10{
	position:absolute;
	z-index:1005;
	left:490px;
	top:780px;
	z-index:1500;
}
@keyframes hideAndShow {
    0% {
      opacity:1;  
    }
    50% {
      opacity:0;
    }
    0% {
      opacity:1;
    }
}
button{
	margin-left: 10px !important;
	text-align:left !important;
}
#views{
	z-index:700;
	text-align:center;
}
btnSensor:child{
	z-index:100;
}
.submenu-btn{
	margin:0 auto;
}
#con1{
	height:400px;
	width:200px;
	background:lightgreen;
}