@charset "utf-8";
*{
	box-sizing: border-box;
}
html{
	height: auto;
    min-height: 100%;
    display: block;
}

body{
	height: auto;
    min-height: 100%;
    background: url(../img/boxed-bg.jpg) repeat fixed;
}

html, body{
	margin:0;
	padding:0;
	
}
.wrapper{
	overflow: hidden;
    height: auto;
    min-height: 100%;
    width: 1250px;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    position: relative;
    display: block;
    background-color: #222d32;
}
#art{
	margin-top:-100px;
	width:1250px;
	height:100px;
	background:rgba(255,0,0,0.8);
	position:fixed;
	z-index:1200;
	transition:0.5s;
	text-align:center;
	font-size:40px;
}
#lct{
	width:455px;
	height:0px;
	position:fixed;
	z-index:1201;
	transition:0.5s;
	background: url(../img/fire.png);	
}
.closeBtn{
	font-size:20px;
	width:100px;
	height:30px;
}
.fireBtn{
	font-size:20px;
	width:100px;
	height:30px;
}
.header{
	position:relative;
	height:100px;
	background-color: #3c8dbc;
	z-index: 815;
		
}
.sidebar{
	position: absolute;
    top: 0;
    left: 0;
    padding-top: 100px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    background-color: #222d32;
	
}
.contents{
	margin-left: 230px;
	background-color: #ecf0f5;
    z-index: 800;
    min-height: 824px;
}
.footer{
	margin-left: 230px;
	z-index: 800;
	background-color: #d9d9d9;
	height:50px;
}
.menuBtn{
	width:210px;
	margin:10px 10px;
	height:50px;
	display:block;
	background-color:#343f47;
	border-radius: 3px;
	text-align:center;
	vertical-align:middle;
	padding-top:15px;
}
.menuBtn:hover{
	width:230px;
	height:80px;
	margin:0px;
	padding-top:30px;
	transition: 0.3s;
}
.case{
	z-index: 820;
	width:230px;
	height:100px;
	background-color: #367fa9;
}
.logo{
	margin:5px 55px;
	width:120px;
	height:90px;
	background-color: transparent !important;
}
.rMateH5__Root{
	width:0px !important;
}
.rMateH5__rMateChart{
	margin-left:-250px;
	margin-right:-250px;
}
.rMateH5__ContentPane{
	
}
.rMateH5__Main{
	
}
.rMateH5__VCylinderGauge{
	
}
.map{
	height: 824px;
	width:456px;
    background: url(../img/map.png);
    z-index:1000;
    background-size:contain;
    position:absolute;
}
.imgEtg{
	width:25px;
	height:25px;
}
.extinguishers{
	position:absolute;
	z-index:1005;
}
#ex1{
	left:355px;
	top:205px;
}
#ex2{
	left:455px;
	top:165px;
}
#ex3{
	left:515px;
	top:165px;
}
#ex4{
	left:355px;
	top:290px;
}
#ex5{
	left:355px;
	top:430px;
}
#ex6{
	left:355px;
	top:575px;
}
#ex7{
	left:395px;
	top:745px;
}
#ex8{
	left:515px;
	top:325px;
}
#ex9{
	left:535px;
	top:480px;
}
#ex10{
	left:625px;
	top:640px;
}
#ex11{
	left:625px;
	top:745px;
}
#ex12{
	left:425px;
	top:315px;
}