html{
	height: auto;
    min-height: 100%;
    display: block;
}

body{
	height: auto;
    min-height: 100%;
    background: url(/img/indexback.gif) no-repeat;
    background-size:cover;
    z-index:900;
}
#indexcover{
	height:974px;
    background:rgba(0,0,0,0.85);
}
html, body{
	margin:0;
	padding:0;
	
}

#loginFormArea {
	margin-top: 150px;
	z-index:1000;
}
#loginimg{
	z-index:1500;
}

input[type=text] {
	background-color: transparent !important;
	border: 1px solid #333;
	width: 180px;
	height: 30px;
	margin: 5px;
	padding: 3px 5px;
	border-radius: 7px;
	font-size: 1rem;
}

input[type=password] {
	background-color: transparent !important;
	border: 1px solid #333;
	width: 180px;
	height: 30px;
	margin: 5px;
	padding: 3px 5px;
	border-radius: 7px;
	font-size: 1rem;
}

#loginBox {
	width: 333px;
	margin: 20px auto 0 auto;
	padding:15px 20px;
	border-radius: 7px;
	background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
	height: 128px;
	font-size: 1.3rem;
	border: 1px solid #333;
	background: rgba(e, e, e, 1);
}

input[type=submit] {
	color: #333;
	background-color: transparent !important;
	float: left;
	height: 87px;
	margin-top:20px;
	margin-left:24px;
	border: 1px solid #333;
	border-radius: 7px;
	width: 80px;
	font-size: 1rem;
}

.box {
	float: left;
	margin-top:15px;
	margin-left:10px;
}

.imgBox {
	margin: auto;
	width: 600px;
	text-align: center;
}

footer {
	color: #333;
	height: 50px;
	margin: 50px auto 0 auto;
	text-align: center;
}

.mainImg {
	width: 293px;
	height: 220px;
}